body {
    margin: 0;
    font-family: sans-serif;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    background: #38a3a3;
    padding: 10px;
    flex-wrap: wrap;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
  }
  
  nav a:hover {
    color: orange;
    text-decoration: underline;
  }
  