body {
    margin: 40px;
    font-family: sans-serif;
    height: 100vh;
  }
  
  .box {
    width: 140px;
    height: 70px;
    color: white;
    text-align: center;
    line-height: 70px;
    font-weight: bold;
    margin: 20px;
  }
  
  .static { background: #3498db; position: static; }
  .fixed { background: #9b59b6; position: fixed; top: 30px; right: 50px; }
  .relative { background: #e67e22; position: relative; left: 40px; }
  .container {
    position: relative;
    background: #f1f1f1;
    height: 120px;
    width: 90%;
  }
  .absolute {
    background: #2ecc71;
    position: absolute;
    bottom: 10px;
    right: 30px;
  }
  